@font-face {
    font-family: poke;
    src: url("../txt/Pokemon.ttf");
}
h2{
    text-align: center;
    font-size: 50px;
    font-family: poke;
    color: rgb(235, 219, 0);
    text-shadow: 0 0 20px rgb(0, 55, 158);
}
h1{
    font-size: 50px;
    font-family: poke;
    color: rgb(235, 219, 0);
    text-shadow: 0 0 20px rgb(0, 55, 158);
}
body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("../img/fondo.png");
    background-size: cover;
}
table{
    border-collapse: collapse;
}
tr td{
    padding: 10px;
}
tr td img{
    width: 100px;
    height: 150px;
    border-radius: 5px;
    border: solid rgb(0, 69, 148) 2px;
}
.voltear{
    transform: rotateY(180deg);
    transition: 1s;
}
.contenedor{
    position: relative;
    width: 100px;
    height: 150px;
    z-index: 1;
}
.carta{
    transform-style: preserve-3d;
}
.aux{
    transform-style: preserve-3d;
}
.cara {
    position: absolute;
    backface-visibility: hidden;
}
.cara.atras {
    transform: rotateY(180deg);
}